{
    "overrides": [
        {
            "files": "*.*",
            "options": {
                "tabWidth": 4
            }
        },
        {
            "files": "*.yml",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
